---
import { Center, Grid } from 'styled-system/jsx';
import { NAMECARDS } from '../../../constants/namecard';

import { Namecard } from '~/components/namecard/Namecard';
import { useTranslations, validateLocale } from '~/i18n/utils';
import NamecardLayout from '~/layouts/NamecardLayout.astro';
const { locale } = Astro.params;
if (!validateLocale(locale)) {
  return Astro.redirect('/404');
}
const t = useTranslations(locale);
const pageTitle = `${t('common.name-card')} | ${t('common.name')}`;
---

<NamecardLayout title={pageTitle}>
  <Center
    flex={1}
    h={{
      _print: 'full'
    }}
    w="full"
    fontFamily={`"M PLUS 1p", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif`}
    bgColor={{ base: 'gray.5', _print: 'none' }}
  >
    <Grid
      printColorAdjust="exact"
      gridTemplateColumns="repeat(auto-fit, minmax(91mm, 1fr))"
      justifyItems="center"
      _print={{
        gap: '0'
      }}
      w="full"
    >
      {
        NAMECARDS.map((namecard) => {
          return (
            <>
              <a
                href={`/${locale}/namecard/${namecard.variant}`}
                aria-label={`${namecard.variant} front namecard`}
              >
                <Namecard side="front" data={namecard} />
              </a>
              <a
                href={`/${locale}/namecard/${namecard.variant}`}
                aria-label={`${namecard.variant} back namecard`}
              >
                <Namecard side="back" data={namecard} />
              </a>
            </>
          );
        })
      }
    </Grid>
  </Center>
</NamecardLayout>

<style>
  @page {
    margin: 0;
    size: 91mm 55mm;
  }
</style>
